.minihero {
    height: 100px;
    background-size: cover;
    background-position: center;
    position: relative;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    height: 100%;
    width: 100%;
}


.minihero::after {
content: "";
display: block;
opacity: .4;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
background: black;
}

.minihero * {
position: relative;
z-index: 2;
}

.minihero h1, .hero h2 {
    color: rgb(236, 236, 236);
    font-size: 3.4em !important;
    line-height: 1;
    padding: 1rem;
}
