.zenQuote {
    color: rgb(236, 236, 236);
    font-size: 2.2em !important;
    line-height: 1.1em !important;
}

.zenAuth {
    color: rgb(180, 194, 179);
    font-size: 2em !important;
    line-height: 1.1em !important;
}
.todaysDate {
    color: rgb(180, 194, 179) !important;
    font-size: 2.4em !important;
    line-height: 1.2em !important;
    /* making underlined */
    text-decoration: underline;
}

/* .quoteContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
    margin: 0;
    height: 100%;
    width: 100%;
} */

.zenQuote, .zenAuth, .todaysDate {  
    animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 5s; /* don't forget to set a duration! */
  }
