@media screen and (max-width: 768px) {
  .burger-menu {
    display: block;
  }

  .regular-menu {
    display: none !important;
  }
}

@media screen and (min-width: 768px) {
  .burger-menu {
    display: none !important;
  }
}
