body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Prompt', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mainContainer
{
    background-color: rgb(44, 44, 44);
}

p {
  color: rgb(202, 202, 202);
}

h1, h2, h3 {
    color: rgb(199, 164, 90);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


html {
  background-color: rgb(240, 240, 240) !important;
}

body {
  background-image: linear-gradient(180deg, rgb(235, 233, 233), rgb(235, 233, 233), rgb(44, 44, 44), rgb(44, 44, 44), rgb(44, 44, 44), rgb(44, 44, 44), rgb(44, 44, 44), rgb(44, 44, 44), rgb(44, 44, 44), rgb(44, 44, 44), rgb(44, 44, 44), rgb(0, 0, 0) ) !important;
}

.pillarTitleName {
  animation: fadeIn !important; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s !important; /* don't forget to set a duration! */
}

.pageTitle {
  animation: fadeIn !important; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 3s !important; /* don't forget to set a duration! */
}

/* format journal cards so they have padding, the entry text is centered and looks nice */
.journalCards {
  padding: 20px;
  border-left: 2px solid #ccc;
  font-style: italic;
  background-image: repeating-linear-gradient(
    to bottom,
    transparent,
    transparent 10px,
    #f5f5f5 10px,
    #f5f5f5 12px
  );
  margin-top: 10px;
}

.gratefulCardBody {
  font-size: 1.3em !important;
  color: rgb(12, 51, 39) !important;
}

.gratefulCardTitle {
  font-size: 1.4em !important;
  text-decoration: underline;
  color: rgb(34, 97, 78) !important;
  font-weight: 600 !important;
}

.mainBodyText {
  animation: fadeIn !important; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 6s !important; /* don't forget to set a duration! */
}

p{
  font-size: 1.4em !important;
}

ul, ol{
  font-size: 1.4em !important;
  color: rgb(202, 202, 202);
}

.sleepingpersonimage {
  /* making the image rounded edge and to change size based on screen width, flex */
  border-radius: 2%;
  width: 100%;
  height: auto;
  display: flex;
}

.MindMOT {
  /* making the image rounded edge and to change size based on screen width, flex */
  border-radius: 50%;
  /* making have a simple grey border and a dropshadow */
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

}

.mindMOTContainer {
  align-items: center;
  justify-content: center;
}

.drinkImage {
  /* making the image rounded edge and to change size based on screen width, flex */
  border-radius: 10%;
  /* height: auto; */
  display: center;
  margin: 5px;
  padding: 5px;
}

.moreInfoRecipe {
  /* Make the link unstyled */
  text-decoration: none;
  color: rgb(34, 97, 78) !important;
/* make drop shadow and glow */
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);



}